{% extends 'shared/layout.html' %}



{% block maincontent %}
      <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/home.css') }}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="stylesheet" href="https://unpkg.com/github-calendar/dist/github-calendar.css"/>
        <script src="https://unpkg.com/github-calendar/dist/github-calendar.min.js"></script>

      <div class="mainDiv">
          <div class="infoDiv">
              <a class="featuredText">About Me</a>


              <a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vehicula turpis at sapien placerat, nec auctor orci fermentum. Blah blah widgets and gizmos, totally revolutionary synergy. Random words inserted here to make this look somewhat meaningful. Eventually, something important might replace this, but for now, it's just filler text doing its job. </a>


          </div>

          <div id="featuredProjectContainer">
            <a class="featuredText">Featured Projects</a>
  
            <div class="gotoProjectsDiv">
                <a class="gotoText" href="/projects">Go To Projects</a>
                <img src="{{ url_for('static', filename='main/images/arrow.png') }}" class="arrow" alt="Arrow">
            </div>
          </div>
      </div>


{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="../static/main/js/layout.js"></script>
<script type="text/javascript" src="../static/main/js/main.js"></script>

{% endblock %}




