{% extends 'shared/layout.html' %}

{% block maincontent %}
      <link rel="stylesheet" href="{{ url_for('static', filename='main/css/projects.css') }}">

      <div id="projectsContainer">
          
      </div>

      <div id="filtersContainer">
          <a class="filterTitle">Filters</a>
          <div id="filtersInnerContainer">
            
        </div>
      </div>

     
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="../static/main/js/projects.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}