<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Riley Moorman</title>
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/layout.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
</head>

<body>
    <article>
    <!-- The header  -->
    <header>
        
    </header>

    <!-- The navigation bar -->
    <nav>
      <div class="navDiv">
        <div class="innerNavDiv">
            <div class="navNameContainer">
                <div class="navNameItem">
                  <a class="navNameText">Riley Moorman</a>
                </div>
            </div>

            <div class="navItemsContainer">
              <div class="navItem">
                <a class="navItemText">Home</a>
              </div>
              <div class="navItem">
                <a class="navItemText">Projects</a>
              </div>
              <div class="navItem">
                <a class="navItemText">Contact</a>
              </div>

              <div class="dropdownIconDiv">
                <img href="{{ url_for('static', filename='main/images/dropdownIcon') }}"" alt="Dropdown icon">
              </div>
              

            </div>
        </div>
      </div>
    </nav>

    <!-- The main content  -->
    <main>
      {% block maincontent %}{% endblock %}
    </main>

    </article>
  
</body>

</html>




{% block extracss %}

{% endblock %}
{% block extrajs %}
  <script src="{{ url_for('static', filename='main/js/main.js') }}" defer></script>
{% endblock %}










