<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Riley Moorman</title>
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/layout.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='main/images/favicon.ico') }}">
</head>

<body>
    <article>
    <!-- The header  -->
    <header>
        
    </header>

    <!-- The navigation bar -->
    <nav>
      <div class="navDiv">
        <div class="innerNavDiv">
            <div class="navNameContainer">
                <div class="navNameItem">
                  <a class="navNameText">Riley Moorman</a>
                </div>
            </div>

            <div class="navItemsContainer">
              <div class="navItem">
                <a class="navItemText{% if active_page == 'home' %}Active{% endif %}" href="/home">Home</a>
                
              </div>
              <div class="navItem">
                <a class="navItemText{% if active_page == 'projects' %}Active{% endif %}" href="/projects">Projects</a>
              </div>

              <!-- GitHub Logo Link -->
              <div class="navItem">
                <a href="https://github.com/rcm5134" target="_blank" rel="noopener noreferrer">
                  <img src="{{ url_for('static', filename='main/images/github-mark-white.png') }}" alt="GitHub" class="clickableLogo">
                </a>
              </div>

              <!-- linkedIn Logo Link -->
              <div class="navItem">
                <a href="https://www.linkedin.com/in/riley-moorman-56392332b/" target="_blank" rel="noopener noreferrer">
                  <img src="{{ url_for('static', filename='main/images/linkedin-logo.png') }}" alt="LinkedIn" class="clickableLogo">
                </a>
              </div>

                <div class="dropdownIconDiv" id="dropdownIcon">
                    <img src="{{ url_for('static', filename='main/images/dropdown.png') }}"
                         alt="Dropdown icon"
                         class="dropdownIcon"
                         onclick="toggleMenu()">
                </div>
            </div>
        </div>

          <!-- Dropdown Menu -->
          <div id="dropdownMenu" class="dropdownMenu">
              <a class="dropdownItem" href="/home">Home</a>
              <a class="dropdownItem" href="/projects">Projects</a>
              <a class="dropdownItem" href="https://github.com/rcm5134" target="_blank">GitHub</a>
              <a class="dropdownItem" href="https://www.linkedin.com/in/riley-moorman-56392332b/" target="_blank">LinkedIn</a>
          </div>
      </div>
    </nav>

    <!-- The main content  -->
    <main>
      {% block maincontent %}{% endblock %}
    </main>

    </article>
  
</body>

</html>




{% block extracss %}

{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="../static/main/js/layout.js"></script>

{% endblock %}










