* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.navDiv {
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, #31bfc4, #642aeb);
    overflow: hidden;
    padding-bottom: 5px;
}

.innerNavDiv
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navNameContainer
{
    margin: 5px;
    height: 100%;
    width: 40%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.navItemsContainer
{
    margin: 5px;
    height: 100%;
    width: 50%;
    padding-right: 0px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navNameItem
{
    display: flex;
    overflow: hidden;
    margin-left: 25px;
}

.navItem
{
    visibility: visible;
    width: fit-content;

    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.dropdownIconDiv
{
    visibility: hidden;
    height: 0px;
    width: 0px;

    justify-content: center;

}

/*
    Text
*/

.navNameText
{
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Poppins';
}

.navItemText
{
    font-size: 1.3rem;
    color: #ffffff;
    font-family: 'Poppins';
    text-align: center;

    font-size: 1.3rem;
    transition-property: font-size;
    transition-duration: 350ms;
    transition-delay: 0s;
    text-decoration: none;
}

.navItemText:hover
{
    font-size: 1.4rem;
    color: #f0ede6;
    font-family: 'Poppins';
    text-align: center;
}

.navItemTextActive {
    font-size: 1.4rem;
    color: #f0ede6;
    font-family: 'Poppins';
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.clickableLogo {
    height: 35px;
    width: 35px;

    transition: height 350ms, width 350ms;
}

.clickableLogo:hover {
    height: 45px;
    width: 45px;
}

/* Hidden Dropdown Menu */
.dropdownMenu {
    position: absolute;
    top: 50px; /* Space below icon */
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    width: 150px;
    display: none; /* Hidden by default */
    flex-direction: column;
    text-align: right;
    z-index: 999;

    opacity: 0;

    height: 0;

    transition: opacity 350ms, height 350ms;
}

.dropdownIcon{
    width: 50px;
    height: 100%;
    object-fit: contain;
}

#dropdownIcon {
    transition: transform 0.3s ease-in-out;
}

/* Rotated icon when the menu is open */
#dropdownIcon.open {
    transform: rotate(180deg);
}


/*
    Media queries
*/

@media (max-width: 768px) {
    .navNameText {
        font-size: 1.5rem; /* Smaller font size for mobile */
        color: #ffffff;
    }

    .navItem
    {
        visibility: hidden;
    }

    .navItemsContainer
    {
        margin: 5px;
        height: 100%;
        width: 25%;

        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        padding-right: 25px;
    }

    .dropdownIconDiv
    {
        visibility: visible;
        height: 60px;
        width: 60px;

        justify-content: center;
        align-items: center;
    }


    /* Hidden Dropdown Menu */
    .dropdownMenu {
        position: absolute;
        top: 65px; /* Space below icon */
        right: 0px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        width: 200px;
        display: none; /* Hidden by default */
        flex-direction: column;
        text-align: right;
        z-index: 999;

        opacity: 1;

        height: auto;
    }

    /* Dropdown Items */
    .dropdownItem {
        color: white;
        padding: 10px;
        text-decoration: none;
        display: block;
        font-family: 'Poppins', sans-serif;
        transition: background 0.3s;
        text-align: center;
    }

    .dropdownItem:hover {
        background: rgba(255, 255, 255, 60%);
    }

    /* Show dropdown when active */
    .dropdownMenu.active {
        display: flex;
    }

    .navItemsContainer
    {
        justify-content: right;
    }
}
  

/*
    Main elements
*/

html, body {
    
    height: 100%;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}
  
article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Main content styles */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    background-image: url("/static/main/images/trianglify-lowres.png");
    background-size: cover;
    backdrop-filter: blur(30px);
  }