#projectsContainer {
    
    width: 75%;
    height: 500px;
    margin-top: 35px;
    border-radius: 10px;

    overflow-y: scroll;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    
}

#filtersContainer {
    width: fit-content;
    min-height: 50px;
    height: fit-content;
    margin-top: 35px;
    border-radius: 10px;
    padding-bottom: 10px;

    padding-left: 10px;
    padding-right: 10px;

    margin-right: 35px;

    overflow-y: hidden;
    overflow-x: hidden;

    background-image: linear-gradient(to bottom right, #31bfc4, #642aeb);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

#filtersInnerContainer 
{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.filterTitle {
    font-size: 1.3rem;
    color: #ffffff;
    font-family: 'Poppins';
    text-align: center;

    margin: 10px;
    text-decoration: underline;
    text-underline-offset: 8px;

}

.filterText {
    font-size: 1.0rem;
    color: #ffffff;
    font-family: 'Poppins';
    text-align: center;

    margin: 5px;
}

.filterDiv {
    display: inline-flex;
    flex-direction: row;
    justify-items: left;
    justify-content: left;
}

.filterCheckbox:hover {
    cursor: pointer;
}


#projectsContainer::-webkit-scrollbar {
    display: none;
}


.project {
    height: 350px;
    width: 85%;
    margin: 2.5%;

    background-image: linear-gradient(to bottom right, #31bfc4, #642aeb);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    cursor: auto;
    
    transition: width 350ms, height 350ms, border-radius 350ms, background-image 3s linear;
}

.project:hover
{
    height: 360px;
    font-size: 1.4rem;
    color: #f0ede6;
    font-family: 'Poppins';
    text-align: center;
    border-radius: 20px;
    width: 95%;
    cursor: pointer;

    background-image: linear-gradient(to top left, #31bfc4, #642aeb);
}

.projectHeader {
    font-size: 1.3rem;
    color: #ffffff;
    font-family: 'Poppins';
    text-align: center;

    margin: 10px;

    transition: font-size 350ms;
}


.projImg {
    height: 160px;
    width: 270px;

    margin-bottom: 10px;
}

.projectDescription {
    font-size: 0.7rem;
    color: #f0ede6;
    font-family: 'Poppins';
    text-align: center;
}



main {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;

    justify-content: center;
}

/*
    Media Queries
*/

@media (max-width: 768px) {
    .projectsContainer {
    
        width: 75%;
        height: 500px;
        margin-top: 35px;
        border-radius: 10px;
    
        overflow-y: scroll;
        overflow-x: hidden;
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
}